*{
    padding: 0px;
    margin: 0px;
}



body{
    font-family: arial;
}

ul{
    list-style: none;
    
}

img{
    width: 250px;
}

#container-b
{
    background-color: blue;
    
    width: 900px;
    height: 100%;
}

#container-a {
    
    background-color: red;
    
    width: 350px;
    height: 100%;
}
div{

  
}
col{
   text-color: rgb(237, 120, 57);
}