* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  list-style-type: none;
}

body {
  height: 100%;
  font-family: Arial;
  background-color: white;
}

.fakeimg {
  border: solid 5px #f0f;
  width: 50%;
  height: 50%;
  padding-bottom: 30%;
  margin: 0 auto;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.leftcolumn {
  float: left;
  width: 75%;
}


.rightcolumn {
  float: left;
  width: 25%;
  background-color: #ffffff;
  padding-left: 20px;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  display: flex;
  padding: 20px;
  text-align: center;
  background: rgb(255, 255, 255);
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.series-menu-item {
  background: linear-gradient(0deg, #ED7839 0%, #FFB455 100%);
  height: 8%;
}

.link-main {
  padding-left: 10px;
}

#video {
  display: flex;
}

.main-menu {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 250px;
  position: fixed;
  overflow-x: auto;
  box-shadow: rgba(0, 1, 0, 7) 0px 0px 4px
}

.is-active {
  line-height: 1.5;
  text-align: center;
  margin-left: 30px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.row {
  margin-left: 250px;
}

.top-attention {
  background: #fdf1eb;
  text-align: left;
  display: flex;
}

.header-right {
  margin-left: 20px;
}

.logo {
  text-emphasis-color: rgba(35, 34, 34, 0.959);
  font-size: 13px;
  text-align: left;
}

#a1 {
  text-align: left;
  font-size: 20px;
}

#a2 {
  text-align: left;
  font-size: 13px;
  text-emphasis-color: rgba(35, 34, 34, 0.959);
}

#menu {
  display: flex;
}

.card-video {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

#h-1 {
  text-align: left;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.6px;
  line-height: 1.2em;
  color: #ED7839;
}

.baixo {
  margin-top: 20px;
  font-size: 15px;
  color: rgb(141, 137, 137);
  margin-left: 50px;
  display: block;
  text-align: justify;
}

.link-main {
  line-height: 2;
}

.detalhes {
  background-color: #FDF1EB;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 3px;
}

.card{
  padding-right: 20px;
  border-radius: 3px;
  height: 260px;
}

.conteudo{
  border-radius: 3px;
  border: 1px solid rgb(231, 231, 231);
  padding: 10px;
  font-size: 13;
  overflow-y: scroll;
  width: 260px;
  height: 260px;
}
.autores {
  margin-top: 10px;
}
#numerozinho {
  display: flex;
}

#numerozinho span {
  font-size: 6px;
}

.ajuste-video{
  margin-top: 30px;
}
.download-button{
    color:white;
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ececec;
    font-size: 16px;
    padding: 10px 16px;
    background-color: #ED7839;
}
.botao{
  padding-top: 50px;
}
