*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
ol,ul,li{
  list-style: none;
  list-style-type: none;
}
body {
    background-color: blue;
    height: 100%;
  }
  .fakeimg {   
    border: solid 5px #f0f;
    width: 50%;
    height: 50%;
    padding-bottom:30%;
    margin: 0 auto;
}
